body{
    background-color:rgb(92,45,135);
    color:#fff;
}
nav ul li{
    display:inline-block;
    font-size:20px;
    margin: 5px 5px;
}
nav{
    text-align:center;
    background-color:#000;
}
nav ul li a{
    text-decoration:none;
    color:#fff
}
nav ul li a.selected{
    color:#000;
}
header{
    background-image:url("space.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom:100px;
    margin-bottom:50px;
}
#logo{
    text-align:center;
    padding:20px 0;
    font-size:30px;
    color:yellow;
}
#logo img{
    max-width:200px;
    border:20px solid #00 ;
    border-radius:100%;
}
#logo h1{
    letter-spacing:0.01em;
    text-shadow: 1px 2px #fff;
}
.container{
    max-width:800px;
    margin: 40px;
    background-color:#000;
}
.container h3{
    color:yellow;
    font-size:27px;
}
.container div{
    color:yellow;
}
.container h4{
    color:yellow;
    font-size:27px;
}